.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-container .swiper-slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.swiper-container .swiper-footer {
  position: absolute;
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.swiper-container .swiper-footer .swiper-pagination {
  position: relative;
  z-index: 1;
}

.swiper-container .swiper-footer .swiper-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 10px;
  border-radius: 40%;
  padding: 3px;
  background-color: transparent;
  border: 3px solid #486259;
  margin: 0 3px;
}

.swiper-container .swiper-footer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #486259;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.popular_products-wrapper {
  width: 85%;
  margin: 0 auto 50px;
}

.popular_products-wrapper .popular_products-title {
  font-weight: bold;
  font-size: 48px;
  color: #486259;
  width: 90%;
  margin: 50px auto;
}

.popular_categories-wrapper {
  width: 85%;
  margin: 0 auto 50px;
}

.popular_categories-wrapper .popular_categories-title {
  font-weight: bold;
  font-size: 48px;
  color: #486259;
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular_categories-wrapper .popular_categories-title .all_categories {
  background: linear-gradient(114.44deg, #859878 17.02%, #B7CFA6 104.92%);
  box-shadow: 10px 10px 25px rgba(149, 149, 149, 0.3), -10px -10px 25px rgba(177, 177, 177, 0.4);
  border-radius: 40px;
  font-size: 18px;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 8px 15px;
  transition: all 0.3s ease-in;
}

.popular_categories-wrapper .popular_categories-title .all_categories:hover {
  background: transparent;
  color: black;
  box-shadow: unset;
}

.popular_categories-wrapper .all_categories-mobile {
  display: none;
  background: linear-gradient(114.44deg, #859878 17.02%, #B7CFA6 104.92%);
  box-shadow: 10px 10px 25px rgba(149, 149, 149, 0.3), -10px -10px 25px rgba(177, 177, 177, 0.4);
  border-radius: 36px;
  font-size: 18px;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 15px 35px;
  margin: 15px auto;
}

.blog-wrapper {
  width: 85%;
  margin: 0 auto 70px;
}

.blog-wrapper .blog-title {
  font-weight: bold;
  font-size: 48px;
  color: #486259;
  width: 90%;
  margin: 50px auto;
}

.blog-wrapper .mobile-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #ee82ee94;
  display: none;
}

.blog-wrapper .to_blog {
  display: flex;
  background: linear-gradient(114.44deg, #859878 17.02%, #B7CFA6 104.92%);
  box-shadow: 10px 10px 25px rgba(149, 149, 149, 0.3), -10px -10px 25px rgba(177, 177, 177, 0.4);
  border-radius: 40px;
  width: fit-content;
  margin: auto;
  padding: 15px 35px;
  color: white;
  transition: all 0.3s ease-in;
}

.blog-wrapper .to_blog:hover {
  background: transparent;
  color: black;
  box-shadow: unset;
}

/*# sourceMappingURL=index_page.css.map */

/*# sourceMappingURL=index_page.css.map */
