@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("/font/Gilroylight.woff2") format("woff2"), url("/font/Gilroylight.woff") format("woff"), url("/font/Gilroylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("/font/Gilroyextrabold.woff2") format("woff2"), url("/font/Gilroyextrabold.woff") format("woff"), url("/font/Gilroyextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
html, body {
  position: relative;
  height: 100%;
}

body {
  background: #fafafa;
  font-family: Gilroy, serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

body.hidden {
  overflow: hidden;
}

header {
  position: absolute;
  z-index: 10;
  width: 95%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header input {
  display: none;
}
header .open {
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
header .open::before {
  content: "";
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  left: -5px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
header .open::after {
  content: "";
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  left: -5px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
header .menuOpen {
  display: block;
  padding: 15px;
  cursor: pointer;
}
header .menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(144.15deg, #859878 13.44%, #5C7463 75.01%, #486259 108.82%);
}
header .menu .menuContent {
  position: relative;
  text-align: center;
  width: 75%;
  display: flex;
  justify-content: space-around;
}
header .menu .menu-item {
  color: white;
  font-size: 30px;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease;
}
header .menu .menu-item:hover {
  box-shadow: 0 2px 0 0 white;
}
header .menu .header_tel {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 24px;
  color: white;
}
header .menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s ease;
  -moz-transition: opacity 0.5s, visibility 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
}
header #menuToggle:checked ~ .menuEffects .open {
  background-color: transparent;
}
header #menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
header #menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: white;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}
header #menuToggle:checked ~ .cart-trigger {
  background: white;
}
header #menuToggle:checked ~ .cart-trigger img {
  filter: brightness(0.1);
}
header .logo {
  width: 75%;
  font-weight: bold;
  font-size: 30px;
  color: #486158;
}
header .cart-trigger {
  cursor: pointer;
  background: linear-gradient(90deg, #869979, #bdd2ae);
  padding: 10px;
  z-index: 10;
  position: relative;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
}
header .cart-trigger:hover {
  background: white;
}
header .cart-trigger:hover img {
  filter: brightness(0.1);
}
header .cart-wrapper {
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  display: none;
  background: rgba(54, 54, 54, 0.37);
  transition: all 0.3s ease-in;
}
header .cart-wrapper .shadow-filter {
  width: 55%;
  height: 100%;
}
header .cart-wrapper .cart {
  position: relative;
  width: 45%;
  height: 100%;
  padding: 25px;
  background: linear-gradient(317.6deg, rgba(237, 236, 236, 0.967297) -115.36%, #FFFFFF -115.36%, #FFFFFF -115.34%, #EFEFEF 105.91%);
  box-shadow: -10px -10px 30px #0000008f, 10px 10px 25px #00000030;
}
header .cart-wrapper .cart .title {
  font-weight: bold;
  font-size: 36px;
  color: #486158;
  height: 10%;
}
header .cart-wrapper .cart .cart_list {
  height: 60%;
  overflow-y: auto;
}
header .cart-wrapper .cart .cart_list .item {
  height: 30%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .cart-wrapper .cart .cart_list .item img {
  height: 100%;
  width: 30%;
  object-fit: contain;
}
header .cart-wrapper .cart .cart_list .item .info {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header .cart-wrapper .cart .cart_list .item .info .name {
  font-size: 24px;
}
header .cart-wrapper .cart .cart_list .item .info .price {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
header .cart-wrapper .cart .cart_list .item .info .price .quantity {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .cart-wrapper .cart .cart_list .item .info .price .quantity .number {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
header .cart-wrapper .cart .cart_list .item .info .price .quantity .plus, header .cart-wrapper .cart .cart_list .item .info .price .quantity .minus {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  cursor: pointer;
}
header .cart-wrapper .cart .cart_list .item .info .price .quantity .plus:hover, header .cart-wrapper .cart .cart_list .item .info .price .quantity .minus:hover {
  background: grey;
  color: white;
}
header .cart-wrapper .cart .cart_list .item .info .price .quantity .plus.clicked, header .cart-wrapper .cart .cart_list .item .info .price .quantity .minus.clicked {
  transform: scale(0.9);
}
header .cart-wrapper .cart .cart_list .item .delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px;
}
header .cart-wrapper .cart .total {
  height: 10%;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #848484;
  justify-content: flex-end;
}
header .cart-wrapper .cart .total span {
  font-weight: bold;
  font-size: 48px;
  color: #363636;
}
header .cart-wrapper .cart .to_cart {
  display: flex;
  justify-content: center;
  color: white;
  width: 80%;
  background: linear-gradient(131.08deg, #859878 17.02%, #B7CFA6 104.92%);
  box-shadow: 10px 10px 25px rgba(149, 149, 149, 0.3), -10px -10px 25px rgba(177, 177, 177, 0.4);
  border-radius: 40px;
  margin: auto;
  padding: 10px;
}
header .cart-wrapper .cart .back_to_shopping {
  font-size: 24px;
  height: 10%;
  display: flex;
  align-items: center;
}
header .cart-wrapper .cart .lds-dual-ring {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: lightgrey;
  z-index: 100;
}
header .cart-wrapper .cart .lds-dual-ring:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  width: 85%;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: row;
  height: 140px;
  justify-content: space-between;
}
footer div {
  width: 30%;
}
footer .first-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer .first-col .hrefs {
  height: 50%;
  width: 100%;
}
footer .first-col .hrefs a {
  font-weight: bold;
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #486158;
}
footer .first-col .social_net {
  display: flex;
  height: 50%;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}
footer .first-col .social_net .title {
  width: 100%;
  font-size: 24px;
  text-align: justify;
  color: #859878;
}
footer .first-col .social_net .logos {
  display: flex;
  justify-content: space-around;
}
footer .first-col .social_net .logos a {
  height: inherit;
}
footer .second_third-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .second_third-col div {
  font-weight: bold;
  font-size: 24px;
  text-align: justify;
  color: #486259;
}
footer .second_third-col a {
  width: inherit;
  font-weight: 500;
  font-size: 24px;
  text-align: justify;
  color: #859878;
}

/*# sourceMappingURL=main.css.map */
