<div class="blog-grid">
    {% for article in articles %}
        <div class="blog-grid_item">
            <div class="overlay"></div>
            <img class="image lazy" data-src="{{ article.image }}">
            <div class="info">
                <div class="title">{{ article.title }}</div>
                <div class="text">
                    <div>
                        <p>
                            {{ article.shortDescription }}
                        </p>
                    </div>
                </div>
                <a href="#" class="more">{{ 'home.more'|trans}} ›</a>
                </div>
            </div>
    {% endfor %}
</div>
