<div class="categories-grid">
    {% for category in categories %}
        <a href="{{ category.link }}">
            <div class="categories-grid_item">
                <img class="image lazy" data-src="{{ category.image }}">
                <div class="title">{{ category.title }}</div>
            </div>
        </a>
    {% endfor %}
</div>
