<div class="categories-grid">
    <a href="#">
        <div class="categories-grid_item">
            <img class="image lazy" data-src="{{ asset('img/products/83 1.png') }}">
            <div class="title">Мази</div>
        </div>
    </a>
    <a href="#">
        <div class="categories-grid_item">
            <img class="image lazy" data-src="{{ asset('img/products/83 1.png') }}">
            <div class="title">Мази</div>
        </div>
    </a>
    <a href="#">
        <div class="categories-grid_item">
            <img class="image lazy" data-src="{{ asset('img/products/83 1.png') }}">
            <div class="title">Мази</div>
        </div>
    </a>
</div>
