<footer>
    <div class="first-col">
        <div class="hrefs">
            <a href="#">octowice</a>
            <a href="tel:11">+38 (066) 052-14-36</a>
        </div>
        <div class="social_net">
            <div class="title">Социальные сети</div>
            <div class="logos">
                <a href="#"><img src="{{ asset('img/icons/fb.png') }}"></a>
                <a href="#"><img src="{{ asset('img/icons/insta.png') }}"></a>
            </div>
        </div>
    </div>
    <div class="second_third-col">
        <div>MDIClogo</div>
        <a href="#">Продукция</a>
        <a href="#">О нас</a>
    </div>
    <div class="second_third-col">
        <div>Пациентам</div>
        <a href="#">Блог</a>
        <a href="#">Контакты</a>
    </div>
</footer>
