<header>
    <input type="checkbox" id="menuToggle" autocomplete="off">
    <label for="menuToggle" class="menuOpen">
        <div class="open"></div>
    </label>
    <div class="menu menuEffects">
        <div class="menuContent">
            <a class="menu-item" href="#">Продукция</a>
            <a class="menu-item" href="#">О Нас</a>
            <a class="menu-item" href="#">Блог</a>
            <a class="menu-item" href="#">Контакты</a>
        </div>
        <a class="header_tel" href="tel:11">+38 (066) 052-14-36</a>
    </div>
    <div class="logo">
        MDIClogo
    </div>
    <div class="cart-trigger">
        <img src="{{ asset('img/icons/cart.png') }}">
    </div>
</header>
