{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/blog/shipping_and_payment.css') }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    <h1 class="page_title">
        {{ 'history.shipping_details'|trans }}
    </h1>
    <div class="info">{{ settings('shipping')|raw }}</div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
