{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/blog/shipping_and_payment.css') }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    <h1 class="page_title">
        Оплата и доставка
    </h1>
    <div class="info">Новость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформация..овость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформация</div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
