{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link>
    <link rel="stylesheet" href="{{ asset('stylesheets/elements/page_title_with_breadcrumbs.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/blog/about_us.css') }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    {% include 'elements/page_title_with_breadcrumbs.html.twig' %}
    <div class="content_wrapper"><img src="{{ asset('img/carousel/pawel-czerwinski-2Y8ol_OBS1I-unsplash 1.png') }}">Новость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформация..овость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость,Новость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформация..овость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформацияовость, блог и информация Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовост блоинформация</div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
