.categories-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  a {
    width: 30%;
    .categories-grid_item {
      height: 400px;
      width: 100%;
      padding: 10px;
      transition: all .3s ease-in;

      .image {
        height: 85%;
        object-fit: contain;
        width: 95%;
        margin: 10px;
      }

      .title {
        height: calc(15% - 20px);
        font-weight: 500;
        font-size: 24px;
        text-align: center;
      }

      &:hover {
        box-shadow: inset 0 0 0 2px #a2b496;
        border-radius: 10px;
      }
    }
  }
}
