.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .products-grid_item {
    max-width: 22%;
    flex: 0 0 22%;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    transition: all .3s ease-in;
    div{
      display: flex;
      align-items: center;
    }
    a {
      display: flex;
      height: calc(100% - 44px);
      flex-direction: column;
      .image {
        height: 75%;
        object-fit: contain;
      }

      .title {
        font-size: 18px;
        height: 15%;
        text-align: center;
      }

      .price {
        font-size: 24px;
        text-align: center;
        height: 10%;
        justify-content: center;
      }
    }
    .add_to_cart {
      width: 70%;
      margin: 0 auto;
      border: 2px solid #859878;
      border-radius: 40px;
      display: flex;
      padding: 0 10px;
      align-items: center;
      justify-content: space-evenly;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      color: #486259;
      height: 40px;
      cursor: pointer;
      transition: all .2s ease-in;
      .cart_img {
        transform: scale(0.6);
      }
      &.active {
        background: #859878;
        * {
          display: none!important;
        }
        &:after {
          transition: all .3s ease-in;
          color: white;
          position: absolute;
          content: var(--in-cart);
        }
      }
      &:hover {
        color: white;
        background: #859878;
      }
    }
    &:hover {
      box-shadow: inset 0 0 0 2px #a2b496;
    }
  }
}
