<div id="sidebar" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family"></div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a href="{{ path('admin_index') }}" class="sidebar-link text-muted active"><i class="o-home-1 mr-3 text-gray"></i><span>Главная</span></a></li>
        <li class="sidebar-list-item"><a href="/admin/charts.html" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Charts</span></a></li>
        <li class="sidebar-list-item"><a href="/admin/tables.html" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Tables</span></a></li>
        <li class="sidebar-list-item"><a href="/admin/forms.html" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>Forms</span></a></li>
        <li class="sidebar-list-item"><a href="/admin/login.html" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>Login</span></a></li>
    </ul>
</div>