@media (max-width: 576px) {
  .categories-wrapper {
    grid-template-columns: repeat(1, 100%);
    .category {
      justify-content: flex-start;
      .title {
        .text {
          width: unset;
        }
        .arrow_right {
          display: inline-block;
        }
      }
      .subcategories_wrapper {
        display: none;
        .sub_category {
          text-align: left;
        }
      }
    }
  }
}
