@media (max-width: 768px) {
  .popular_products-wrapper {
    width: 90%;
    .popular_products-title {
      font-size: 36px;
      width: 90%;
      margin-bottom: 10px;
    }
  }
  .popular_categories-wrapper {
    width: 90%;
    .popular_categories-title {
      font-size: 36px;
      width: 100%;
      margin-bottom: 10px;
      .all_categories {
        display: none;
      }
    }
    .all_categories-mobile {
      display: block;
    }
  }
  .blog-wrapper {
    width: 90%;
    .blog-title {
      font-size: 36px;
      margin-bottom: 10px;
      width: 90%;
    }
  }
}
@media (max-width: 576px) {
  .popular_products-wrapper {
    width: 95%;
  }

  .popular_categories-wrapper {
    width: 95%;
  }

  .blog-wrapper{
    width: 95%;
    height: unset;
  }
}
