@media (max-width: 768px) {
  header {
    .menu .menuContent {
      flex-direction: column;
      height: 50%;
      text-align: start;
    }
    .cart-wrapper {
      .shadow-filter {
        width: 20%;
      }
      .cart {
        width: 80%;
        .cart_list .item .info .price .quantity {
            width: 35%;
        }
        .total span {
          font-size: 30px;
        }
      }
    }
  }
  footer {
    .first-col {
      .hrefs a, .social_net .title {
        font-size: 18px;
      }
    }
    .second_third-col {
      a, div {
        width: 100%;
      }
    }
  }
  #scroll {
    bottom: 10px;
  }
}
@media (max-width: 576px) {
  header {
    .menu .menu-item.orders_history_mobile {
      display: block;
    }
    .cart-wrapper {
      .shadow-filter {
        width: 0;
      }

      .cart {
        width: 100%;
        .cart_list {
          height: 50%;
          .item .info .name {
            font-size: 18px;
          }
        }
      }
    }
    .logo {
      font-size: 22px;
    }
    a.orders_history {
      display: none;
    }
    .lang-panel {
      .lang {
        font-size: 18px;
        margin: 0 4px;
      }
    }
  }
  footer {
    flex-wrap: wrap;
    .first-col {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .hrefs {
        height: 50%;
        width: 30%;
        a {
          width: 100%;
          height: 100%;
          font-size: 16px;
        }
      }
      .social_net {
        width: 20%;
        .title {
          display: none;
        }
        .logos {
          width: 100%;
        }
      }
      a.octowice {
        width: 40%;
      }
    }
    .second_third-col {
      width: 40%;
      div {
        display: none;
      }
    }
  }
}
