header {
  position: relative;
  margin-left: auto;
  height: 64px;
  .cart-trigger {
    display: none;
  }
}
h2 {
  color: #486259;
}
.page_title {
  font-weight: bold;
  font-size: 48px;
  color: #486259;
  width: 85%;
  height: 8%;
  margin: 0 auto;
  padding: 1%;
}
.checkout_wrapper {
  margin: 0 auto 50px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  .checkout_details {
    width: 61%;
    padding: 0 2%;
    background: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    form {
      .row {
        display: flex;
        justify-content: space-between;
      }
      label {
        display: flex;
        flex-direction: column;
        font-style: italic;
        padding: 5px 0;
        &.half-w {
          width: 47%;
        }
        &.full-w {
          width: 100%;
        }
        input {
          height: 36px;
          font-size: 20px;
          padding: 0 10px;
          &:focus {
            border: #879a7a solid 2px;
            outline: none;
          }
        }
      }
    }
    .payment_select {
      display: flex;
      flex-direction: column;
      label {
        font-size: 24px;
        padding: 5px;
        position: relative;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        width: fit-content;
        input {
          position: relative;
          opacity: 0;
          cursor: pointer;
          &:checked ~ .checkmark:after {
            display: block;
          }
        }
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #b0c8a0;
          border-radius: 50%;
          transition: all .3s ease-in;
          &:after {
            content: "";
            position: absolute;
            display: none;
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
          }
        }
      }
    }
  }
  .place_order {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: linear-gradient(131.08deg, #859878 17.02%, #B7CFA6 104.92%);
    box-shadow: 10px 10px 25px rgba(149, 149, 149, 0.3), -10px -10px 25px rgba(177, 177, 177, 0.4);
    width: 80%;
    text-align: center;
    border-radius: 40px;
    margin: 40px auto;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease-in;
    &:hover {
      background: transparent;
      color: #486259;
      box-shadow: unset;
    }
  }
  .cart {
    padding: 2% 1%;
    margin: 0 1%;
    background: white;
    border: 2px solid #b2c9a1;
    border-radius: 10px;
    width: 28%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    .cart_info {
      height: 7%;
      padding: 1% 0 2%;
      font-size: 24px;
      font-weight: bold;
      display: flex;
      color: #486259;
      justify-content: space-between;
      a {
        font-weight: normal;
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      height: 53%;
      padding-bottom: 4%;
      overflow-y: auto;
      .cart_item {
        height: 150px;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        width: 95%;
        justify-content: space-between;

        img {
          height: 90%;
          width: 40%;
          object-fit: contain;
        }

        .info {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 50%;
          justify-content: space-evenly;

          .title {
            font-size: 20px;
            color: #363636;
          }

          .price {
            font-size: 18px;
            color: #363636;
            text-decoration: underline;
          }
        }
      }
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    hr {
      width: 100%;
    }
  }
  .price_details {
    height: 30%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.mobile {
      display: none;
    }
    div {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-style: italic;
      span {
        font-style: normal;
      }
    }
    .total {
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
      color: #486259;
    }
  }
}
